
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brickstatusui-primary: mat.define-palette(mat.$indigo-palette);
$brickstatusui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$brickstatusui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$brickstatusui-theme: mat.define-light-theme((
  color: (
    primary: $brickstatusui-primary,
    accent: $brickstatusui-accent,
    warn: $brickstatusui-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($brickstatusui-theme);

@import '@angular/material/theming';

// Define your custom palette
$custom-primary: mat-palette($mat-indigo);
$custom-accent: mat-palette($mat-pink, A200, A100, A400);

// Create a theme using the custom colors
$custom-theme: mat-light-theme($custom-primary, $custom-accent);

// Include the theme
@include angular-material-theme($custom-theme);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {  font-family: Roboto, "Helvetica Neue", sans-serif; }



//colors 219C90, E9B824, EE9322, D83F31
.page-container{
  min-height:100vh;
  position: relative;
  background-color: #EE9322;
}

.background-title{
  background-color: #219C90;
  text-align: center;
  min-height: 25vh;
  padding-top: 10vh;
}

.search-container{
  background-color: #E9B824;
  min-height: 25vh;
  padding-top: 10vh;
}

.footer-container {
  background-color: #D83F31;
  position: absolute;
  width: 100%;
  bottom: 0;
}
// Modify the search button within the input group
.search-btn {
  // Your custom styles for the search button
  background-color: #007bff; /* Your desired background color */
  color: #ffffff; /* Text color */
  border-color: #007bff; /* Border color */
}

// Hover and focus styles (optional)
.search-btn:hover, 
.search-btn:focus {
  background-color: #0056b3; /* Adjusted color on hover/focus */
  color: #ffffff;
  border-color: #0056b3;
}