.search-container{
    background-color: #E9B824;
    min-height: 25vh;
    padding-bottom: 5vh;
    position: relative;
    display: flex;
    align-items: center;
}

.form-control {
    background-color: #E9B824;
}

.star-icon {
    position: absolute;
    right: 8px;
    cursor: pointer;
    transition: color 0.3s ease; /* For smooth color transition */
  }
  
  .star-icon.filled {
    color: gold; /* Color for filled star */
  }